.alterao-de-meus-pets {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.alterao-de-meus-pets .overlap-wrapper {
  background-color: #dddddd;
  width: 1440px;
  height: 1166px;
}

.alterao-de-meus-pets .overlap {
  position: relative;
  height: 1166px;
}

.alterao-de-meus-pets .info-blur {
  position: absolute;
  width: 1440px;
  height: 1166px;
  top: 0;
  left: 0;
}

.alterao-de-meus-pets .infos {
  position: relative;
  width: 1272px;
  height: 953px;
  top: 86px;
  left: 84px;
  background-color: var(--secondary-primary-white);
  border-radius: 20px;
  overflow: hidden;
}

.alterao-de-meus-pets .title {
  position: absolute;
  width: 153px;
  height: 32px;
  top: 23px;
  left: 31px;
}

.alterao-de-meus-pets .text-wrapper {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #32292f;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 32px;
  white-space: nowrap;
}

.alterao-de-meus-pets .overlap-group {
  position: absolute;
  width: 1213px;
  height: 589px;
  top: 333px;
  left: 31px;
}

.alterao-de-meus-pets .description {
  position: absolute;
  width: 1212px;
  height: 57px;
  top: 221px;
  left: 1px;
}

.alterao-de-meus-pets .essa-se-o-de-informa {
  position: absolute;
  width: 1210px;
  top: 0;
  left: 0;
  font-family: "DM Sans-Regular", Helvetica;
  font-weight: 400;
  color: #32292f8f;
  font-size: 16px;
  text-align: justify;
  letter-spacing: -0.32px;
  line-height: 26px;
}

.alterao-de-meus-pets .content {
  position: absolute;
  width: 1210px;
  height: 589px;
  top: 0;
  left: 0;
}

.alterao-de-meus-pets .education {
  position: absolute;
  width: 556px;
  height: 91px;
  top: 278px;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadows-soft-shadow-soft-shadow-style-1);
}

.alterao-de-meus-pets .div {
  position: absolute;
  height: 20px;
  top: 22px;
  left: 22px;
  font-family: "Public Sans-Medium", Helvetica;
  font-weight: 500;
  color: #32292f8f;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 20px;
  white-space: nowrap;
}

.alterao-de-meus-pets .text-wrapper-2 {
  position: absolute;
  height: 16px;
  top: 45px;
  left: 22px;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: #32292f;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 16px;
  white-space: nowrap;
}

.alterao-de-meus-pets .edit {
  position: absolute;
  width: 29px;
  height: 26px;
  top: 36px;
  left: 515px;
}

.alterao-de-meus-pets .overlap-group-2 {
  position: absolute;
  width: 555px;
  height: 136px;
  top: 233px;
  left: 655px;
}

.alterao-de-meus-pets .languages {
  position: absolute;
  width: 555px;
  height: 91px;
  top: 45px;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadows-soft-shadow-soft-shadow-style-1);
}

.alterao-de-meus-pets .img {
  height: 53px;
  top: 0;
  left: 514px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .department {
  position: absolute;
  width: 556px;
  height: 91px;
  top: 388px;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 18px 40px #7090b01f;
}

.alterao-de-meus-pets .edit-2 {
  height: 26px;
  top: 41px;
  left: 515px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .overlap-2 {
  position: absolute;
  width: 555px;
  height: 201px;
  top: 388px;
  left: 655px;
}

.alterao-de-meus-pets .work-history {
  position: absolute;
  width: 555px;
  height: 91px;
  top: 0;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadows-soft-shadow-soft-shadow-style-1);
}

.alterao-de-meus-pets .birthday {
  position: absolute;
  width: 555px;
  height: 91px;
  top: 110px;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadows-soft-shadow-soft-shadow-style-1);
}

.alterao-de-meus-pets .edit-3 {
  height: 53px;
  top: 78px;
  left: 514px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .organization {
  position: absolute;
  width: 556px;
  height: 91px;
  top: 498px;
  left: 0;
  background-color: var(--secondary-primary-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadows-soft-shadow-soft-shadow-style-1);
}

.alterao-de-meus-pets .edit-4 {
  height: 26px;
  top: 46px;
  left: 515px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .edit-5 {
  height: 53px;
  top: 0;
  left: 1169px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .pet-infos-editar {
  position: absolute;
  width: 1302px;
  height: 860px;
  top: 153px;
  left: 70px;
}

.alterao-de-meus-pets .overlap-3 {
  position: relative;
  width: 1300px;
  height: 860px;
}

.alterao-de-meus-pets .rectangle {
  position: absolute;
  width: 1300px;
  height: 858px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.alterao-de-meus-pets .rectangle-2 {
  position: absolute;
  width: 659px;
  height: 860px;
  top: 0;
  left: 0;
}

.alterao-de-meus-pets .text-wrapper-3 {
  position: absolute;
  top: 26px;
  left: 723px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #14452c;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .rectangle-3 {
  position: absolute;
  width: 533px;
  height: 611px;
  top: 121px;
  left: 722px;
  background-color: #a5ebc826;
  border-radius: 16px;
}

.alterao-de-meus-pets .frame {
  position: absolute;
  width: 467px;
  height: 570px;
  top: 151px;
  left: 741px;
}

.alterao-de-meus-pets .nome-titular {
  position: absolute;
  width: 222px;
  top: -1px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .span {
  color: #a8a8a8;
}

.alterao-de-meus-pets .text-wrapper-4 {
  color: #32292f;
}

.alterao-de-meus-pets .overlap-group-3 {
  position: absolute;
  width: 248px;
  height: 56px;
  top: 80px;
  left: 0;
}

.alterao-de-meus-pets .nome-catchorro-da {
  position: absolute;
  width: 222px;
  top: 0;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .edit-6 {
  height: 26px;
  top: 26px;
  left: 219px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .ra-a-cachorro-ra-a {
  position: absolute;
  width: 327px;
  top: 161px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .prefer-ncias-gosta {
  position: absolute;
  width: 467px;
  top: 242px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .sexo-macho {
  position: absolute;
  width: 113px;
  top: 323px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .idade {
  position: absolute;
  width: 442px;
  top: 404px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .observa-es-cachorro {
  position: absolute;
  width: 467px;
  top: 485px;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.alterao-de-meus-pets .edit-7 {
  height: 26px;
  top: 25px;
  left: 225px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .edit-8 {
  height: 26px;
  top: 187px;
  left: 334px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .edit-9 {
  height: 26px;
  top: 419px;
  left: 1220px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .edit-10 {
  height: 26px;
  top: 664px;
  left: 1214px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .boto {
  position: absolute;
  width: 504px;
  height: 56px;
  top: 921px;
  left: 792px;
}

.alterao-de-meus-pets .div-wrapper {
  position: relative;
  width: 535px;
  height: 56px;
  left: -1px;
  background-color: #649c80;
  border-radius: 12px;
}

.alterao-de-meus-pets .text-wrapper-5 {
  position: absolute;
  width: 213px;
  top: 14px;
  left: 161px;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.alterao-de-meus-pets .x {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 162px;
  left: 1324px;
}

.alterao-de-meus-pets .edit-11 {
  height: 26px;
  top: 653px;
  left: 901px;
  position: absolute;
  width: 29px;
}

.alterao-de-meus-pets .edit-12 {
  height: 26px;
  top: 734px;
  left: 1267px;
  position: absolute;
  width: 29px;
}
